@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}
